[submodule "vendor/mcmeta-summary"]
	path = vendor/mcmeta-summary
	url = https://github.com/misode/mcmeta
	shallow = true
	branch = summary
[submodule "vendor/mcmeta-assets"]
	path = vendor/mcmeta-assets
	url = https://github.com/misode/mcmeta
	shallow = true
	branch = assets
[submodule "vendor/bedrock-samples"]
	path = vendor/bedrock-samples
	url = https://github.com/Mojang/bedrock-samples
