<footer>
  <div class="footer-content">
    <p>Made with &hearts; | <a href="https://github.com/seriouslysean/craftalog">GitHub</a></p>
  </div>
</footer>

<style>
  footer {
    border-top: 1px solid var(--color-border);
  }

  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer p {
    font-size: 0.875rem;
    color: var(--color-muted);
  }

  footer a {
    color: var(--color-muted);
    border-bottom-color: transparent;
  }

  footer a:hover {
    color: var(--color-fg);
    border-bottom-color: var(--color-fg);
  }
</style>
