@import 'modern-normalize/modern-normalize.css';

:root {
  /* minecraft colors */
  --color-gray: #8b8b8b;
  --color-gray-light: #c6c6c6;
  --color-gray-dark: #373737;
  /* styles */
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol,
ul {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}
